:root {
  --orange-red: #f95f19
}

input::-webkit-calendar-picker-indicator {
  filter: invert(100%) brightness(40%);
},

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

.bar-loader {
  width: 8px;
  height: 48px;
  animation: scaleY 1s infinite alternate ease-in-out;
}

@keyframes scaleY {
  from {
    transform: scaleY(0.5);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.bg-orange {
  background-color: #f95f19;
}